
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>

    {% include 'base.html' %}
    <div class="container bg-light p-5 form-layout card-container">
        <h3>Your Notes</h3>
        
        {% for note in notes %}
        <div class="card style-card" style="width: 18rem;">
            <div class="card-body">
                <div class="title-style"><h5 class="card-title">{{note.title}}</h5></div>
                <p id="note-content" class="card-text">{{note.content}}</p>
                <a class="btn btn-primary navbar-btn upd-button" type="button" href="{%url 'update-note' note.id %}" style="background-color: lightskyblue;">Update</a>
                <a class="btn btn-danger navbar-btn del-button" type="button" href="{%url 'delete-note' note.id %}">Delete</a>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    {% include 'addScripts.html' %}
</body>
</html>